html, body {
    margin:0;
    padding:0;
}

.page-container {
    height: 100vh;
    display:flex;
    justify-content: center;
}

.background-image {
    width: 300px;
    height: 100%;
}

.content-container {
    width:550px;
    height:100%;
}